/* === GLOBAL CSS === */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/* ==VARIABLES== */
:root{
    /* colors */
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* ================== */

/* font-styling */
h1{
    font-size: 1.3rem;
    color: var(--dark-blue);
}
p{
    color: var(--grayish-blue);
}

/* ------------ */

body{
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

.wrapper{
    min-height: 100vh; /* set height of page to viewport height, allowing for vertical centering */
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #fff;
    text-align: center;
    width: 315px;
    border-radius: 4%;
    padding: 1em;
    margin: 0 auto;
}

img{
    border-radius: 4%;
}

/* frontendmentor-provided styling */
footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}