/* === GLOBAL CODE === */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

/* ==VARIABLES== */
:root{
    /* colors */
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* ================== */

/* font-styling */
h2{
    font-weight: 700;
    color: var(--dark-blue);
}

/* ------------ */

body{
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

main{
    background-color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 20%;
    padding: 10px;
}

/* frontendmentor-provided styling */
footer {
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}